<?xml version="1.0"?>
<plist>
	<dict>
		<key>backend</key>
		<string>local</string>
		<key>project_hash</key>
		<string>6119727472638290380</string>
		<key>run_input_hash</key>
		<string>10477352674204663901</string>
		<key>run_directories</key>
		<string>C_1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>11400</string>
		<key>_status</key>
		<string>3</string>
	</dict>
</plist>
