<?xml version="1.0"?>
<plist>
	<dict>
		<key>backend</key>
		<string>local</string>
		<key>project_hash</key>
		<string>643617959600699934</string>
		<key>run_input_hash</key>
		<string>2354701440818002850</string>
		<key>run_directories</key>
		<string>C2H2_1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>10973</string>
		<key>_status</key>
		<string>3</string>
	</dict>
</plist>
